<p>Current count: @currentCount</p>
<button @onfocus="OnFocus" @onfocusout="OnFocusOut" @onclick="IncrementCount" @oninput="OnInput" @onchange="OnChange">
    @if (hasFocused)
    {
        <RazorConsole.Components.Text Foreground="@Spectre.Console.Color.Green" Content="Focused! Click me" />
    }
    else
    {
        <RazorConsole.Components.Text Content="Not Focused, click on tab to switch" Foreground="@Spectre.Console.Color.DarkSlateGray1" />
    }
</button>

    @code {
private int currentCount = 0;
    private bool hasFocused = false;

    private void IncrementCount()
    {
        currentCount++;

        StateHasChanged();
    }

    private void OnInput(ChangeEventArgs e)
    {
    }

    private void OnChange(ChangeEventArgs e)
    {
    }

    private void OnFocus(FocusEventArgs e)
    {
        hasFocused = true;
        StateHasChanged();
    }

    private void OnFocusOut(FocusEventArgs e)
    {
        hasFocused = false;
        StateHasChanged();
    }
    }
