@namespace RazorConsole.Components

@using Microsoft.AspNetCore.Components
@using Spectre.Console
@using System.Collections.Generic
@using System.Reflection
@using System.Runtime.CompilerServices

<div class="spinner"
     data-spinner="true"
     data-spinner-type="@SpinnerTypeAttribute"
     data-message="@MessageAttribute"
     data-style="@StyleAttribute"
     data-auto-dismiss="@AutoDismissAttribute">
</div>

@code {
    /// <summary>
    /// Displays an animated spinner with an optional message to indicate ongoing operations.
    /// </summary>
    /// <remarks>
    /// Spinners are useful for showing progress during long-running tasks. Multiple spinner styles
    /// are available from <see cref="global::Spectre.Console.Spinner.Known"/>.
    /// </remarks>

    private static readonly IReadOnlyDictionary<global::Spectre.Console.Spinner, string> SpinnerNames = BuildSpinnerNameMap();

    /// <summary>
    /// Gets or sets the type of spinner animation to display.
    /// </summary>
    /// <remarks>
    /// Default is <see cref="global::Spectre.Console.Spinner.Known.Dots"/>. Other options include
    /// Dots2, Dots3, Line, Star, and many more from <see cref="global::Spectre.Console.Spinner.Known"/>.
    /// </remarks>
    [Parameter]
    public global::Spectre.Console.Spinner SpinnerType { get; set; } = global::Spectre.Console.Spinner.Known.Dots;

    /// <summary>
    /// Gets or sets the name of the spinner to use (alternative to <see cref="SpinnerType"/>).
    /// </summary>
    /// <remarks>
    /// If specified, this takes precedence over <see cref="SpinnerType"/>.
    /// </remarks>
    [Parameter]
    public string? SpinnerName { get; set; }

    /// <summary>
    /// Gets or sets the message displayed next to the spinner.
    /// </summary>
    /// <remarks>
    /// If <c>null</c> or whitespace, no message is shown.
    /// </remarks>
    [Parameter]
    public string? Message { get; set; }

    /// <summary>
    /// Gets or sets the Spectre.Console style markup to apply to the spinner.
    /// </summary>
    /// <remarks>
    /// If <c>null</c>, the default style is used.
    /// </remarks>
    [Parameter]
    public string? Style { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether the spinner should automatically dismiss when complete.
    /// </summary>
    /// <remarks>
    /// Default is <c>false</c>.
    /// </remarks>
    [Parameter]
    public bool AutoDismiss { get; set; }

    private string? SpinnerTypeAttribute => !string.IsNullOrWhiteSpace(SpinnerName)
        ? SpinnerName
        : TryResolveSpinnerName(SpinnerType);

    private string? MessageAttribute => string.IsNullOrWhiteSpace(Message) ? null : Message;

    private string? StyleAttribute => string.IsNullOrWhiteSpace(Style) ? null : Style;

    private string? AutoDismissAttribute => AutoDismiss ? "true" : null;

    private static IReadOnlyDictionary<global::Spectre.Console.Spinner, string> BuildSpinnerNameMap()
    {
        var dictionary = new Dictionary<global::Spectre.Console.Spinner, string>(SpinnerReferenceEqualityComparer.Instance);
        foreach (var property in typeof(global::Spectre.Console.Spinner.Known).GetProperties(BindingFlags.Public | BindingFlags.Static))
        {
            if (property.PropertyType != typeof(global::Spectre.Console.Spinner))
            {
                continue;
            }

            if (property.GetValue(null) is not global::Spectre.Console.Spinner spinner)
            {
                continue;
            }

            if (!dictionary.ContainsKey(spinner))
            {
                dictionary.Add(spinner, property.Name);
            }
        }

        return dictionary;
    }

    private static string? TryResolveSpinnerName(global::Spectre.Console.Spinner spinner)
    {
        if (SpinnerNames.TryGetValue(spinner, out var name))
        {
            return name;
        }

        return null;
    }

    private sealed class SpinnerReferenceEqualityComparer : IEqualityComparer<global::Spectre.Console.Spinner>
    {
        public static readonly SpinnerReferenceEqualityComparer Instance = new();

        public bool Equals(global::Spectre.Console.Spinner? x, global::Spectre.Console.Spinner? y) => ReferenceEquals(x, y);

        public int GetHashCode(global::Spectre.Console.Spinner obj) => RuntimeHelpers.GetHashCode(obj);
    }
}
